envbash==1.2.0
# The following packages should ideally be installed through apt
# For the moment, I am pinning their versions here to the ones available in debian bullseye
ephem==3.7.7.1
idna==2.10
jsonschema==3.2.0
matplotlib==3.3.4
numpy==1.22.0
Pillow==10.2.0
pyyaml==5.4
requests==2.31.0
